body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.bar {
  background-color: #f2f2f2;
  height: 1rem;
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.sidebar {
  width: 200px;
  margin-right: 2rem;
  padding: 1rem;
}

.sidebar h2 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.5rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li a {
  text-decoration: none;
  color: #0645ad;
}

.main {
  flex-grow: 1;
  max-width: 800px;
  padding: 1rem;
}

.main h1 {
  font-size: 2.5em;
  border-bottom: 1px solid #a2a9b1;
  padding-bottom: 0.3em;
}

.main h2 {
  font-size: 1.8em;
  border-bottom: 1px solid #a2a9b1;
  padding-bottom: 0.3em;
}

.anchors {
  width: 200px;
  margin-left: 2rem;
  padding: 1rem;
  border-left: 1px solid #ccc;
}

.anchors h2 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.5rem;
}

.anchors ul {
  list-style-type: none;
  padding: 0;
}

.anchors li a {
  text-decoration: none;
  color: #0645ad;
}

.footer {
  background-color: #f2f2f2;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}
